@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}