// Global
$body-background: #fdf6e3;
$header-background-color: $body-background;

$font-family: 'Encode Sans', Sans-Serif;
$monospace-font: Inconsolata, Melon, Monaco, Ubuntu Mono, monospace;

$base-color: #505050;
$link-color: #928374;
$link-color-hover: #665c54;
$scrollbar-thumb: #d6ceba;
$scrollbar-track: #efe7d2;



$on-palm: 600px;
$site-width: 1024px;

$base-font-size: 16px;
$on-palm-font-size: 14px;

// Blog
$post-title-color: #A03A1B;
$post-tag-color: #A03A1B;
$post-link-color: #A03A1B;
$post-link-border-color: #A03A1B;

$post-quote-link-color: #b36d57;
$post-quote-color: #6f6f6f;
//$post-quote-border: #ada48c;
$post-quote-border-color: #505050;

$post-block-background: #e6e0cf;
$post-inline-code-color: #657b83;

$post-header-border-color: #dcd2b6;

$post-strong-color: #3d3d3d;

$post-hr-line-color: #dcd2b6;

$post-table-header-color: #f3ead1;
$post-table-header-background: #cac1a8;
$post-table-background1: #f3ebd6;
$post-table-background2: #ece3cc;
$post-table-border-color: #fdf6e3;






