---
layout: master
title: Blog
---

<section class="posts">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.url }}" class="post">
      <div>
        <time datetime="{{ post.date }}" class="post-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-line"></div>

        <p class="post-preview">
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</section>

<section class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&laquo;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&raquo;</a>
  {% endif %}

  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
</section>